.nav{
    grid-area: n;
    background-color:#396aca;
    color:bisque;
    
    }

 .item{color:aqua

 }
 .s{
     color:blueviolet;
 }
 .c{
     color:black;
 }
 .w{
     color:crimson;
 }
 .sa{
     color:fuchsia;
 }